<launch>

  <param name="/use_sim_time" value="true" />

  <include file="$(find hubo_wpi_sim)/launch/hubo_plus_sim.launch" />
  <include file="$(find sensor_pkg)/launch/hubo_simulation.launch" />

  <node name="pointcloud_client" pkg="gui" type="pointcloud_client" output="screen"/>
  <node name="pointcloud_server" pkg="gui" type="pointcloud_server" output="screen"/>

  <node name="valve_interact" pkg="gui" type="valve_interact" output="screen"/>
  <node name="valve_icp" pkg="gui" type="valve_icp" output="screen"/>

</launch>
