<?xml version="1.0"?>
<robot name="sensor_head" 
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       >
  <!-- LINKS -->
  <link name="sensor_base_link">
    <visual>
      <geometry>
        <box size="0.005 0.005 0.05"/>
      </geometry>
      <material name="redish">
	<color rgba="0.5 0.1 0.1 1.0"/>
      </material>
      <!-- let's push the origin of the support beam from the middle to its bottom -->
      <origin rpy="0 0 0" xyz="0 0 0.025"/> 
    </visual>
    <collision>
      <geometry>
        <box size="0.005 0.005 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.025"/> 
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <link name="kinect_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz=" 0 0 0 "/>
      <geometry>
        <mesh filename="package://wpi_drc_sim/meshes/kinect_v0/kinect.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
	<mesh filename="package://wpi_drc_sim/meshes/kinect_v0/kinect.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <link name="camera_depth_frame">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <link name="camera_depth_optical_frame">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="camera_rgb_frame">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="camera_rgb_optical_frame">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <!-- JOINTS -->

  <joint name="kinect_to_base" type="fixed">
    <parent link="sensor_base_link"/>
    <child link="kinect_link"/>
    <!--origin xyz="0.031 0.0 0.053"/-->
    <origin xyz="0.031 0.0 0.103"/>
  </joint>

  <joint name="camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.018 0"/>
    <parent link="kinect_link"/>
    <child link="camera_depth_frame"/>
  </joint>

  <joint name="camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.570795 0 -1.570795" xyz="0 0 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
  </joint>

  <joint name="camera_rgb_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.005 0"/>
    <parent link="kinect_link"/>
    <child link="camera_rgb_frame"/>
  </joint>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin rpy="-1.570795 0 -1.570795" xyz="0 0 0"/>
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
  </joint>

  <!-- GAZEBO STUFF -->
  <gazebo>
    <turnGravityOff>true</turnGravityOff>
    <static>true</static>
  </gazebo>
  <gazebo reference="sensor_base_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="kinect_link">
    <sensor:camera name="kinect_camera">
      <imageFormat>R8G8B8</imageFormat>
      <imageSize>640 480</imageSize>
      <hfov>57</hfov>
      <nearClip>0.01</nearClip>
      <farClip>5</farClip>
      <updateRate>20</updateRate>
      <baseline>0.2</baseline>
      <controller:gazebo_ros_openni_kinect name="kinect_camera_controller" plugin="libgazebo_ros_openni_kinect.so">
	<cameraName>kinect_camera</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>20</updateRate>
        <imageTopicName>/camera/image_raw</imageTopicName>
        <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
        <cameraInfoTopicName>/camera/camera_info</cameraInfoTopicName>
        <frameName>kinect_depth_optical_frame</frameName>
	<pointCloudCutoff>0.5</pointCloudCutoff>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </controller:gazebo_ros_openni_kinect>
    </sensor:camera>
  </gazebo>
</robot>