<launch>

  <!-- the ROS parameter /use_sim_time
  triggers ROS time to use the simulation time in the 
  /clock ROS topic published by gazebo rather than 
  the system wall clock time -->
  <param name="/use_sim_time" value="true" />
  <arg name="gui" default="true"/>
	  
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen">
    <remap from="clock" to="gazebo_clock"/>
  </node>
  
   <!--	start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>

  <!-- Spawn the table -->  
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -file $(find wpi_drc_sim)/descriptions/table.urdf -x -0.2 -z -.15 -model table" respawn="false" output="screen" /> 
 
  <!-- Spawn the racing wheel. Here we use the argument '-wait table', without it sometimes the racing wheel gets spawned faster than the table, and then it falls on the ground because of the gravity --> 
  <node name="spawn_driving_wheel" pkg="gazebo" type="spawn_model" args="-urdf -file $(find wpi_drc_sim)/descriptions/driving_wheel_full.urdf -x .21 -z .85 -y 0.09 -Y 3.14159265359 -model wheel -wait table" respawn="false" output="screen" />

  <!-- Spawhn the floating kinect -->
  <node name="spawn_floating_kinect" pkg="gazebo" type="spawn_model" args="-urdf -file $(find wpi_drc_sim)/descriptions/floating_kinect.urdf -model floating_kinect" respawn="false" output="screen" />

</launch>
